{% extends 'audiencia/base.html' %} 
{% load static%} 
{% block content %}
{% include 'general1/barralateral.html' %}

<script> var username = "{{ username }}"; 
    var user_id = "{{user.id}}";
</script>

<h1 class="mt-3">Detalles de la Audiencia</h1>


<table class="table table-bordered">
    <tr>
        <th>Expediente:</th>
        <td>{{ audiencia.expediente }}</td>
    </tr>
    <tr>
        <th>Fecha:</th>
        <td>{{ audiencia.fecha_audiencia|date:"d/m/Y" }}</td>
    </tr>
    <tr>
        <th>Hora:</th>
        <td id="hora-audiencia">{{ audiencia.hora_audiencia }}</td>
    </tr>
    <tr>
        <th>Sala:</th>
        <td>{{ audiencia.sala_audiencia }}</td>
    </tr>
    <tr>
        <th>Conciliador:</th>
        <td>{{ audiencia.conciliador_audiencia }}</td>
    </tr>
    <tr>
        <th>Status:</th>
            {% if audiencia.status_audiencia == 'Llamando' %}
            <td><span class="badge rounded-pill text-bg-warning p-2">{{ audiencia.status_audiencia }}</span></td>
            {% elif audiencia.status_audiencia == 'En audiencia' %}
            <td><span class="badge rounded-pill text-bg-success p-2">{{ audiencia.status_audiencia }}</span></td>
            {% elif audiencia.status_audiencia == 'Archivada' %}
            <td><span class="badge rounded-pill text-bg-danger p-2">{{ audiencia.status_audiencia }}</span></td>
            {% elif audiencia.status_audiencia == 'Concluida' %}
            <td><span class="badge rounded-pill text-bg-primary p-2">{{ audiencia.status_audiencia }}</span></td>
            {% else %}
            <td><span class="badge rounded-pill text-bg-secondary p-2">{{ audiencia.status_audiencia }}</span></td>
            {% endif %}
    </tr>
</table>

<h1 class="mt-5">Asistencia audiencia</h1>

{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    </div>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th class="pb-3 pt-3">Nombre</th>
                <th class="pb-3 pt-3">Tipo de persona</th>
                <th class="pb-3 pt-3">Asistencia</th>
            </tr>
        </thead>
        <tbody>
            {% for ciudadano in ciudadanos_relacionados %}
            <tr>
                <td>{{ ciudadano.nombre }}</td>
                <td>{{ ciudadano.tipo_persona }}</td>
                <td>
                    {% if ciudadano.asistencia %}
                    <span class="badge rounded-pill text-bg-success p-2">Compareció</span>
                    {% else %}
                    <span class="badge rounded-pill text-bg-danger p-2">No compareció</span
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No hay ciudadanos registrados para esta audiencia.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Botones para cambiar el estado de la audiencia -->
    {% if audiencia.status_audiencia != 'En audiencia' %}
        {% if nombreGrupo == 'Conciliacion' %}
            <button type="submit" name="iniciar" class="btn btn-warning mb-3">Iniciar Audiencia</button>
        {% endif %}
    {% endif %}
    
    {% if audiencia.status_audiencia == 'En audiencia' %}
        <button type="submit" name="concluir" class="btn btn-success mb-3">Concluir</button>
        <button type="submit" name="archivar" class="btn btn-danger mb-3" id="archivarButton" disabled>Archivar</button>
        
    {% endif %}

</form>
<a href="{% url 'audiencias_auxiliares' %}" class="btn btn-secondary mb-5">Volver a la lista</a>
<div>
    <button type="submit" name="mesa-ayuda" class="btn btn-warning mb-3" id="mesaButton" data-bs-toggle="modal" data-bs-target="#mesa-ayuda">Mesa de Ayuda</button>
</div>





<div class="text-center mt-3 mb-3 fw-light counter-text mt-5">
    {% if audiencia.status_audiencia == 'En audiencia' %}
    <span><i class="fa-solid fa-business-time"></i></span>
    <span id="tiempo-audiencia" data-audiencia-id="{{ audiencia.id }}">Tiempo de la audiencia transcurrido: Cargando...</span>
    {% elif audiencia.status_audiencia == 'Concluida' or 'Archivada' %}
    
    {% else %}
    <span><i class="fa-solid fa-business-time"></i></span>
    <span>La audiencia no ha iniciado. Inicie la audiencia para poder consultar el tiempo de está.</span>
    {% endif %}
</div>



<!--modal para mesa de ayuda-->

<div class="modal fade" id="mesa-ayuda" tabindex="-1" aria-labelledby="addCitizenModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCitizenModalLabel">Mesa de Ayuda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form id="mesaAyudaForm" action="{% url 'mesa ayuda' pk=audiencia.pk %}" method="POST">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Expediente</label>
                        <input type="text" class="form-control" id="expediente" name="expediente" value="{{audiencia.expediente}}" readonly required>
                        <input type="hidden" class="form-control" id="user_id" name="user_id" value="{{user.id}}" readonly required>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Audiencia</label>
                        <input type="text" class="form-control" id="audiencia" name="audiencia" value="Folio Audiencia" readonly required>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Solicitud</label>
                        <input type="text" class="form-control" id="solicitud" name="solicitud" value="Folio solicitud" readonly required>
                    </div>
                    <div class="mb-3">
                        <label for="peticion" class="form-label">Petición</label>
                        <select class="form-select" id="peticion" name="peticion" required>
                            <option value="" disabled selected>Selecciona una opción</option>
                            <option value="Reagenda">Reagenda</option>
                            <option value="Retroceso (Quitar terminación de audiencia)">Retroceso (Quitar terminación de audiencia)</option>
                            <option value="Retroceso (Reiniciar audiencia)">Retroceso (Reiniciar audiencia)</option>
                            <option value="Retroceso (Quitar Confirmación)">Retroceso (Quitar Confirmación)</option>
                            <option value="SINACOL lento">SINACOL lento</option>
                            <option value="Regenerar documentos">Regenerar documentos</option>
                            <option value="No se generaron los documentos">No se generaron los documentos</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" form="mesaAyudaForm" data-bs-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>


    <script>
    const audiencia_id = document.getElementById('tiempo-audiencia').getAttribute('data-audiencia-id');

    function actualizarTiempoAudiencia() {
        fetch(`/celebrar/${audiencias_id}/`, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('tiempo-audiencia').textContent = `Tiempo de la audiencia transcurrido: ${data.tiempo}`;
        })
        .catch(error => console.error('Error:', error));
    }
    
    // Actualizar cada segundo
    setInterval(actualizarTiempoAudiencia, 1000);
    </script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const horaAudiencia = document.getElementById('hora-audiencia').textContent;
        const [horaAud, minutoAud] = horaAudiencia.split(':').map(Number);
        
        function habilitarBoton() {
            const ahora = new Date();
            const horaActual = ahora.getHours();
            const minutoActual = ahora.getMinutes();
            
            // Calcular la diferencia en minutos
            let diferenciaMinutos = (horaActual - horaAud) * 60 + (minutoActual - minutoAud);
            
            // Si la diferencia es negativa, asumimos que es para el día siguiente
            if (diferenciaMinutos < 0) {
                diferenciaMinutos += 24 * 60;
            }
            
            if (diferenciaMinutos >= 6) {
                document.getElementById('archivarButton').disabled = false;
                clearInterval(intervalo);
            } else {
                const minutosRestantes = 6 - diferenciaMinutos;
                document.getElementById('tiempo-restante').textContent = `Tiempo restante: ${minutosRestantes} minutos`;
            }
        }
    
        // Verificar cada 10 segundos
        const intervalo = setInterval(habilitarBoton, 10000);
        
        // Ejecutar inmediatamente para no esperar al primer intervalo
        habilitarBoton();


        function ver_mesas_ayuda(user_id){
            fetch(`/validar_mesa_ayuda?user_id=${user_id}`,{
                method : 'GET',
                headers : {
                    'content-type' : 'application/json'
                }
            })
            .then(response => response.json())
            .then(data =>{
                console.log(data)
            })
        }

        ver_mesas_ayuda(user_id);
    });
    </script>

{%endblock%}